{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}

    <form method="POST" enctype="multipart/form-data">
    <h3 align="center">Project Creation</h3>
    <div class="form-group">
        <label for="Name">Project Name</label>
        <input
            name="name"
            type="text"
            class="form-control"
            id="name"
            placeholder="Project Name"
            required
        />
    </div>

    <div class="form-group">
        <label for="description">Project Description</label>
        <input
            name="description"
            type="text"
            class="form-control"
            id="description"
            placeholder="Project Description"
            required
        />
    </div>
    <br />
    <div class="form-group">
        <label for="images" class="drop-container" id="dropcontainer">
            <span class="drop-title">Drop files here</span>
            or
            <input name="files" type="file" id="file" multiple required>
        </label>
    </div>



    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}