{% extends "base.html" %} {% block title %}Evaluator Home{% endblock %} {% block content
%}

    </br></br>
    <h3> Welcome to the web app, {{ user_data.username }}!</h3> 

    {%if projects %}

    </br></br>

        <h4>All the projects:</h4>

        </br>

        <table class="table table-hover table-bordered">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Status</th>
                <th class="butt" scope="col">Valuta</th>
            </tr>
            </thead>
            <tbody>
                {% for p in projects %}
                    <tr>
                        <td><a href="{{url_for('evaluator.open', id = p.id)}}"> {{ p.name }} </a> </td>
                        <td>{{ p.description }} </td>
                        <td class="parent">
                            {%if p.status.value in "approved"%}
                                <span class="material-symbols-outlined approved">
                                    done
                                </span>
                                <span class="approved" > Approved {{p.grade}}/30 </span>
                                
                            {%elif p.status.value in "rejected"%}
                                <span class="material-symbols-outlined rejected">
                                    close
                                </span>
                                <span class="rejected"> Rejected {{p.grade}}/30</span>
                                
                            {%elif p.status.value in "changes_request"%}
                                <span class="material-symbols-outlined changes_request">
                                    sync_problem
                                </span>
                                <span class="changes_request"> Changes Requested </span>
                                
                            {%else%}
                                <span class="material-symbols-outlined pending">
                                    hourglass_empty
                                </span>
                                <span class="pending"> Pending </span>
                                
                            {%endif%}
                        </td>
                        <td class="butt"> 
                            {% if p.status.value not in "approved" and p.status.value not in "rejected" %}
                                <a href="{{url_for('evaluator.evaluate', id = p.id)}}"> 
                                    <span class="material-symbols-outlined">
                                        done_all
                                    </span>
                                </a> 
                            {% else %}
                                <span class="material-symbols-outlined">
                                    done_all
                                </span>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h4> There are no projects to evaluate </h4>
    {% endif %}

{% endblock %}