{% extends "base.html" %} {% block title %}Edit Project{% endblock %} {% block content
%}

    <form method="POST" enctype="multipart/form-data">
    <h3 align="center">Project Editing</h3>
    <div class="form-group">
        <label for="Score">Project Score</label>
        <input
            name="score"
            type="number"
            class="form-control"
            id="score"
            placeholder="Report Score"
            {% if rep %}
                value = "{{rep.score}}"
            {% endif %}
            required
        />
    </div>

    <div class="form-group">
        <label for="text">Report Text</label>
        <input
            name="text"
            type="text"
            class="form-control"
            id="text"
            placeholder="Report Text"
            {% if rep %}
                value = "{{rep.text}}"
            {% endif %}
            required
        />
    </div>




    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{% endblock %}