{% extends "base.html" %} {% block title %}Researcher Home{% endblock %} {% block content
%}

    Welcome to the web app, {{ user_data.username }}! </br>

    <a href="/researcher/create"> Clicca qui per aggiungere un progetto </a> </br>

    Your projects:
    <ul>
    {% for p in projects %}
        <li>Nome:  <a href="{{url_for('researcher.open', id = p.id)}}"> {{p.name}} </a>, Description {{ p.description }}, Status {{ p.status.value }} 
            <a href="{{url_for('researcher.delete', id = p.id)}}"> delete </a>
            {%if p.status.value in "new" or p.status.value in "changes_request" %}
                <a href="{{url_for('researcher.edit', id = p.id)}}"> edit </a>
            {%endif%}
        </li>
    {% endfor %}
    </ul>
 


{% endblock %}