{% extends "base.html" %} {% block title %}Project Page{% endblock %} {% block content
%}

    Nome: {{ p.name }}, Description {{ p.description }}, Status {{ p.status.value }}
    </br>
    Documenti:
    <!-- {% for d in q %}
        <li>Name: <a href="{{url_for('evaluator.download', p = p.id, dName = d[1].name)}}" target=”_blank”>{{ d[1].name }}</a>, status {{ d[1].status.value }}  
        {% if user.__class__.__name__ in "Researcher" %}
            {%if p.status.value in "new" or d[1].status.value in "changes_request" and p.status.value not in ["approved","rejected"] %}
                <a href="{{url_for('researcher.deleteDoc', pip = p.id, did = d[1].name)}}"> Delete Document </a>  
                <a href="{{url_for('researcher.editDoc', pip = p.id, did = d[1].name)}}"> Edit Document </a>
            {% endif%}
            {% if d[0] %}
                <a href="{{url_for('researcher.report', pip = p.id, did = d[1].name, r = d[0].id)}}"> Open Report </a>
            {%endif%}
        {% elif d[0] %}
            {% if user.__class__.__name__ in "Evaluator" and d[1].status.value in "default" and p.status.value not in "approved" and p.status.value not in "rejected"%}
                <a href="{{url_for('evaluator.requestC', pip = p.id, did = d[1].name)}}"> Request changes </a>
            {% endif %}    
            {% if p.status.value not in "approved" and p.status.value not in "rejected" %}
                <a href="{{url_for('evaluator.report', pip = p.id, did = d[1].name, r = d[0].id)}}"> Edit Report </a>
            {% else %}
                <a href="{{url_for('evaluator.viewReport', pip = p.id, did = d[1].name, r = d[0].id)}}"> Open Report </a>
            {% endif %} 
        {% else %}
            <a href="{{url_for('evaluator.report', pip = p.id, did = d[1].name, r = d[0].id)}}"> Create Report </a>
        {% endif %}
    {% endfor %}    -->

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Status</th>
                <th scope="col">Type</th>
                <th scope="col"> Evaluation </th>    
                {% if user.__class__.__name__ in "Researcher"%}
                    <th scope="col"> Delete </th>
                    <th scope="col"> Edit </th>
                {% else %}
                    <th scope="col"> Request changes </th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for r,d in q %}
                <tr>
                    <td> 
                        
                        <a href="{{url_for('evaluator.download', p = p.id, dName = d.name)}}" target=”_blank”>{{ os.path.splitext(d.name)[0] }}</a> 
                    </td>
                    <td> {{ d.status.value }} 

                    </td>
                    <td> {{ d.type }} </td>
                    {% if user.__class__.__name__ in "Researcher" %}
                        <td>
                            {% if r %}
                                <a href="{{url_for('researcher.report', pip = p.id, did = d.name, r = r.id)}}"> 
                                    <span class="material-symbols-outlined">
                                        file_open
                                    </span>
                                </a>
                            {% else %}
                                <span class="material-symbols-outlined">
                                    file_open
                                </span>
                            {% endif %}
                        </td>

                        <td> 
                            {%if p.status.value in "new" or d.status.value in "changes_request" and p.status.value not in ["approved","rejected"] %}
                                <a href="{{url_for('researcher.deleteDoc', pip = p.id, did = d.name)}}">  
                                    <span class="material-symbols-outlined">
                                        delete
                                    </span>
                                </a>  
                            {% endif %}
                        </td>
                        <td> 
                            {%if p.status.value in "new" or d.status.value in "changes_request" and p.status.value not in ["approved","rejected"] %}
                                <a href="{{url_for('researcher.editDoc', pip = p.id, did = d.name)}}"> 
                                    <span class="material-symbols-outlined">
                                        edit
                                    </span>
                                </a>
                            {% endif %}
                        </td>
                    {% else %}
                        <td>
                            {% if not r %}
                                <a href="{{url_for('evaluator.report', pip = p.id, did = d.name, r = r.id)}}"> 
                                    <span class="material-symbols-outlined">
                                        add_circle
                                    </span> 
                                </a>
                            {% elif p.status.value not in "approved" and p.status.value not in "rejected" %}
                                <a href="{{url_for('evaluator.report', pip = p.id, did = d.name, r = r.id)}}"> 
                                    <span class="material-symbols-outlined">
                                        edit_document
                                    </span> 
                                </a>
                            {% else %}
                                <a href="{{url_for('evaluator.viewReport', pip = p.id, did = d.name, r = r.id)}}">  
                                    <span class="material-symbols-outlined">
                                        file_open
                                    </span> 
                                </a>
                            {% endif %} 
                        </td>
                        <td>
                            {% if r and d.status.value in "default" and p.status.value not in "approved" and p.status.value not in "rejected"%}
                                <a href="{{url_for('evaluator.requestC', pip = p.id, did = d.name)}}">
                                    <span class="material-symbols-outlined">
                                        published_with_changes
                                    </span>
                                </a>
                            {% endif %}
                        </td>
                    
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>



{% endblock %}